*~
.DS_Store

node_modules

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/plugins
.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs


_zoodb_citations_cache

.11ty-parcel-temp
.parcel-cache
