
p, ul, ol {
  margin: 1em 0px;
}
p:first-child, ul:first-child, ol:first-child {
  margin-top: 0px;
}
p:last-child, ul:last-child, ol:last-child {
  margin-bottom: 0px;
}
dd > p, dd > p:first-child, dd > p:last-child {
  margin: 0.33em 0px;
}

a, a:link, a:hover, a:active, a:visited {
  color: #3232c8;
  text-decoration: none;
}
a:hover {
  color: #22228a;
}

/* ------------------------------------------------------ */

.emph, .textit {
  font-style: italic;
}
.textbf {
  font-weight: bold;
}

h1 {
  font-size: 1.6rem;
  line-height: 1.3em;
  font-weight: bold;
  margin: 1em 0px;
}
h2 {
  font-size: 1.3rem;
  line-height: 1.3em;
  font-weight: bold;
  margin: 1em 0px;
}
h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 1em 0px;
}

.heading-level-4 {
  font-style: italic;
  display: inline;
}
.heading-level-4::after {
  display: inline-block;
  margin: 0px .12em;
  content: '—';
}

.heading-level-5 {
  font-style: italic;
  font-size: .9em;
  display: inline;
}
.heading-level-5::after {
  display: inline-block;
  margin-right: .12em;
  content: '';
}

.heading-level-6 {
  font-style: italic;
  font-size: .8em;
  display: inline;
}
.heading-level-6::after {
  display: inline-block;
  margin-right: .06em;
  content: '';
}

dl.enumeration {
  display: block;
  margin-left: 2.5em;
}
dl.enumeration > dt {
  float: left;
  clear: left;
  display: inline-block;
  /*margin: 0px; */
  margin-left: -2.5em;
  width: 2.0em;
  min-width: 2.0em;
  max-width: 2.0em;
  margin-right: 0.5em;
  text-align: right;
}
dl.enumeration > dd {
  /*display: inline-block;
  width: 100%;*/
  border: 0px;
  padding: 0px;
  margin: 0px;
}

figure.float {
  width: 100%;
  border-width: 1px 0px 1px 0px;
  border-style: solid none solid none;
  border-color: rgba(120, 120, 140, 0.15);
  margin: 0.5rem 0px;
  padding: 0.5rem 0px;
}

figure.float .float-contents {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

figure.float .float-contents img {
  display: block;
  margin: 0pt auto;
  padding: 0pt;
  border: 0pt;
  margin: 0px auto;
}

figure.float figcaption {
  display: block;
  margin-top: 0.5em;
  margin: 0.75em 2em 0px;
  text-align: center;
}

figure.float figcaption > span {
  display: inline-block;
  font-style: italic;
  text-align: left;
}

table {
  margin: 1em 0px 1em 0px;
  border-collapse: separate;
  border-spacing: 0px;
  /*border-top: solid 1pt;
  border-bottom: solid 1pt;*/
}
figure.float .float-contents table {
  margin: 0px auto;
}
td {
  padding: 0.3em 0.5em;
  border: none 0px;
}
th {
  padding: 0.3em 0.5em;
  border: none 0px;
}
.cellstyle-H {
  border-bottom: solid .5pt;
}
.cellstyle-rH {
}
.cellstyle-l {
  text-align: left;
}
.cellstyle-c {
  text-align: center;
}
.cellstyle-r {
  text-align: right;
}
.cellstyle-green {
  background-color: rgb(200,255,200);
}
.cellstyle-blue {
  background-color: rgb(200,220,255);
}
.cellstyle-yellow {
  background-color: rgb(255,255,200);
}
.cellstyle-red {
  background-color: rgb(255,200,200);
}
.cellstyle-lvert {
  border-left: solid .5pt;
}
.cellstyle-rvert {
  border-right: solid .5pt;
}

.celltbledge-top {
  border-top: solid 1pt;
}
.celltbledge-bottom {
  border-bottom: solid 1pt;
}

.verbatimcode {
  font-family: monospace;
  font-size: 0.9em;
  background-color: rgba(127,127,127,0.25);
  border-radius: 2px;
  padding: 1px 2px;
  display: inline-block;
  white-space: pre-wrap;
}
.verbatima {
  font-style: italic;
}
.verbatimcode-environment {
  display: block;
  margin: 0.75em 0px 1em;
  white-space: pre;
}

.defterm {
  font-style: italic;
}

.defterm .defterm-term {
  font-style: italic;
  font-weight: bold;
}

.display-math {
  width: 100%;
  max-width: 100%;
  display: block;
  overflow-x: auto;
}

.endnotes, .citations {
  font-size: 0.8em;
  display: inline-block;
  vertical-align: 0.3em;
  margin-top: -0.3em;
}
.citation {
}
.footnote {
}
dl.citation-list > dt, dl.footnote-list > dt {
  font-size: 0.8em;
  display: inline-block;
  vertical-align: 0.3em;
  margin-top: -0.3em;
}

/* ------------------------------------------------------ */
