//
// Here is the main stylesheet for the site.
//

html, body {
    background-color: rgb(220,220,240);
    width: 100%;
}


header, main, footer {
    margin: 0px auto;
    max-width: 930px;
    background-color: white;
    padding: 15px;
}

header {
    margin-bottom: 1rem;
}

footer {
    font-size: 0.92rem;
    font-style: italic;
    margin-top: 1rem;
}


.last-edit {
    color: #aaa;
    font-style: italic;
}

//
// search results
//
.search-results {
    .search-result {
        margin-top: 1em;
        margin-bottom: 1em;
        border: solid 0.4pt rgba(128,128,128,0.4);
        border-radius: 0.7em;
        padding: 1em;
    }
}



//
// More styles
//

// styling the search widget popup -- you can replace this by your own custom
// stylesheet if you want to provide a fancier style
@import '~/node_modules/tippy.js/dist/tippy.css';
@import '~/node_modules/tippy.js/themes/light.css';
